<p>Frends:</p>

<mat-list-item role="listitem" *ngFor="let v of (vrienden)">
    {{v.userName}}
    <button mat-button color="warn" (click)="verwijderVriend(v.vriendID)">delete frend</button>

</mat-list-item>


<p>People you might know.</p>

<mat-list-item role="listitem" *ngFor="let nv of (nietVrienden)">
    {{nv.userName}}
    <button mat-button color="warn" (click)="toevoegenVriend(nv.vriendID)">Add</button>
</mat-list-item>

<button mat-raised-button color="primary" type="button" (click)="naarHome()">Back to home</button>