<p *ngIf="lengteVerzoeken > 0">These people want to be frends with you:</p>

<p *ngIf="lengteGestemdPoll == 0 && lengteNieuwPoll == 0">You don't have any polls.</p>

    <mat-list-item role="listitem" *ngFor="let v of (verzoeken)">
        {{v.userName}}
        <button mat-button color="warn" (click)="verwijderVerzoek(v)">ignore</button>
        <button mat-button color="warn" (click)="accepteerVerzoek(v)">add</button>

    </mat-list-item>

<p *ngIf="lengteNieuwPoll > 0">Vote on your polls:</p>

<mat-list-item role="listitem" *ngFor="let p of (nieuwPoll)">
    <button mat-button color="warn" (click)="overzichtPoll(p.pollID)">{{p.naam}}</button>
    <button mat-button color="warn" (click)="stemOpPoll(p.pollID)" [disabled]="p.gestemd">stemmen</button>
    <button mat-button color="warn" (click)="deletePoll(p.pollID)">delete</button>
</mat-list-item>

<p *ngIf="lengteGestemdPoll > 0">Voted polls:</p>

<mat-list-item role="listitem" *ngFor="let p of (gestemdPoll)">
    <button mat-button color="warn" (click)="overzichtPoll(p.pollID)">{{p.naam}}</button>
    <button mat-button color="warn" (click)="stemOpPoll(p.pollID)" [disabled]="p.gestemd">stemmen</button>
    <button mat-button color="warn" (click)="deletePoll(p.pollID)">delete</button>
</mat-list-item>

<p *ngIf="lengteVrienden == 0">You need to make frends before you can make a Poll.</p>
<p><button mat-button color="warn" (click)="aanmakenPoll()" *ngIf="lengteVrienden > 0">Create poll</button></p>
<p><button mat-button color="warn" (click)="VriedenLijst()">Add Frends</button></p>