<h3>{{naamPoll}}</h3>

<mat-list-item role="listitem" *ngFor="let a of (antwoordenPoll)">
    {{a.antwoordText}}
    <button mat-button color="warn" (click)="verwijderAntwoord(a.antwoordID)">Remove</button>

</mat-list-item>


<form [formGroup]="antwoordenForm" (ngSubmit)="onSubmitAntwoord()">
    <p>
        <mat-form-field>
            <input matInput type="text" formControlName="AntwoordText" placeholder="Uitleg" />
        </mat-form-field>
        <button mat-button color="primary" type="submit" [disabled]="!antwoordenForm.valid">Add answer</button>
    </p>

    <button mat-raised-button color="primary" type="button" (click)="vriendenToevoegen()" [disabled]="2 > lengteAntwoordenPoll">Add frends to poll</button> |
    <button mat-raised-button color="primary" type="button" (click)="naarPollMaken()">Back</button>
</form>