<app-header></app-header>
<nav>
  <mat-sidenav-container class="nav-container">
    <mat-sidenav mode="side" opened="true">
      <mat-nav-list>
        <a mat-list-item routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a mat-list-item routerLink="logger" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inloggen</a>
        <a mat-list-item routerLink="registratie" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Registreren</a>
        <a mat-list-item routerLink="pollMaken" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">PollMaken</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</nav>