<h2>{{naamPoll}}</h2>

<mat-list-item role="listitem" *ngFor="let v of (vriendenLijstMetPoll)">
    <div>{{v.userName}}
        <button mat-button color="warn" (click)="vriendVerwijderenVanPoll(v)">Remove</button>
    </div>

</mat-list-item>

<p>Add your frends:</p>
<mat-list-item role="listitem" *ngFor="let v of (vriendenLijstZonderPoll)">
    <div>{{v.userName}}
        <button mat-button color="warn" (click)="vriendToevoegenAanPoll(v)">Add</button>
    </div>
</mat-list-item>

<p><button mat-button color="warn" (click)="naarHome()">To home</button></p>